
    <footer th:fragment="head" class="py-3 my-4">

        <p class="text-center text-body-secondary">&copy; 2024 Company, Inc</p>

        <div class="footer-container">
            <div class="row">
                <div class="col-lg-4 col-md-6 footer-contact">
                    <h3>Contact Us</h3>
                    <p>Thanh Tri district , Ha Noi</p>
                    <p>Phone: <a href="tel:+84989159700">(84) 989159700</a></p>
                    <p>Email: <a href="mailto:phoebe292003@gmail.com">phoebe292003@gmail.com</a></p>
                </div>
                <div class="col-lg-4 col-md-6 footer-contact">
                    <h3>Social Media</h3>
                    <p>
                        <a href="#" target="_blank">Facebook</a> |
                        <a href="#" target="_blank">Twitter</a> |
                        <a href="#" target="_blank">Instagram</a>
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 footer-contact">
                    <h3>Business Hours</h3>
                    <p>Monday - Friday: 9am - 5pm</p>
                    <p>Saturday: 10am - 3pm</p>
                    <p>Sunday: Closed</p>
                </div>
            </div>
        </div>
    </footer>
